<div class="main">
  <h1 class="title">{{ title }}</h1>
  <hr>
  <app-form (formDataEmitter)="addSmestaj($event)"></app-form>
  <div class="smestaj-container">
    <h2>Lista dostupnih hotela</h2>
    <button (click)="shuffleSmestaj()" class="btn btn-primary">Promesaj listu</button>
    <div class="search-field-container">
      <p>Pretraži po ceni smeštaja</p>
      <input type="number" [(ngModel)]="inputPrice">
    </div>
    <div class="smestaj-list">
      <app-smestaj *ngFor="let smestaj of listaSmestaja | filter : inputPrice" [smestaj]="smestaj" (deleteSmestajEmitter)="deleteSmestaj($event)"></app-smestaj>
    </div>
  </div>
</div>