.title{
    margin: 2rem 3rem;
}

.hotel-form{
    padding: 0 3rem;
}

.hotel-form input,
.hotel-form textarea{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.smestaj-container{
    padding: 0 3rem;
    margin-top: 3rem;
}

.search-field-container{
    display: flex;
    align-items: center;
    margin: 2rem 0 1rem 0 ;
}

.search-field-container p{
    margin: 0 10px 0 0;
}

.smestaj-list{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}