.hotel-form{
    padding: 0 3rem;
}

.hotel-form input,
.hotel-form textarea{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.alert{
    max-width: 300px;
    font-size: 0.9rem;
    margin: 10px 0 0 0;
}

.btn{
    margin-top: 20px;
}